# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# App runtime / sensitive data
instance/
uploads/
training/
*.db

# ML / AI files
*.h5
*.pt
*.pth
*.onnx
datasets/
data/

# IDE / Editors
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

migrations/
USER_GUIDE.md
instance/
__pycache__/
*.pyc
.env
